<!DOCTYPE html>
<html>
<head>
<title>土壌分析記録</title>
</head>
<body>
<section>
	<a href="/org/{{.Field.OrgId}}">戻る</a>
	<h1>{{.Field.Name}}</h1>
</section>
<section>
	<form method="POST">
		<input type="hidden" name="go_token" value="{{.Token}}">
		分析日：<input type="date" name="analysis_date" value="">&nbsp;
		<input type="submit" value="登録">
	</form>
</section>

<section>
	<ul>
		{{range $index, $a := .Analysis}}
		<li><a href="/analysis/{{$a.Id}}">{{$a.AnalysisDate}}</a></li>
		{{end}}	
	</ul>
</section>

</body>
</html>