<!DOCTYPE html>
<html>
<head>
<title>圃場名記録</title>
</head>
<body>
<section>
	<a href="/admin">戻る</a>
	<h1>{{.Org.Name}}</h1>
</section>
<section>
	<form method="POST">
		<input type="hidden" name="go_token" value="{{.Token}}">
		圃場名：<input type="text" name="name" value="">&nbsp;
		<input type="submit" value="登録">
	</form>
</section>

<section>
	<ul>
		{{range $index, $f := .Fields}}
		<li><a href="/field/{{$f.Id}}">{{$f.Name}}</a></li>
		{{end}}	
	</ul>
</section>

<section>
	<h1>法人名の修正</h1>
</section>
</body>
</html>